@font-face {
  font-family: Inter;
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url(/assets/fonts/Inter-roman.latin.var.woff2);
  font-display: fallback;
  /* unicode-range: U+0000-007F, U+00A0-0100, U+0131, U+0152-0154, U+02BB-02BD,
    U+02C6, U+02DA, U+02DC, U+2000-200C, U+2010-2028, U+202F-2060, U+2074,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+FEFF; */
}

@font-face {
  font-family: Inter;
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Regular";
  src: url(/assets/fonts/Inter-italic.latin.var.woff2);
  font-display: fallback;
  /* unicode-range: U+0000-007F, U+00A0-0100, U+0131, U+0152-0154, U+02BB-02BD,
    U+02C6, U+02DA, U+02DC, U+2000-200C, U+2010-2028, U+202F-2060, U+2074,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+FEFF; */
}

@font-face {
  font-family: 'icons';
  font-display: swap;
  src: url(/assets/fonts/icons.woff2);
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
 
/* From fontello */
[class^="icon-"]:before, [class*=" icon-"]:before, .icon:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  line-height: 1em;
 
  margin-left: .2em;
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-weight: var(--font-weight);
}

@supports (font-variation-settings: "wght" 400) {
  * {
    font-weight: inherit;
    font-variation-settings: "wght" var(--font-weight);
  }
}

:root {
  --primary: #0070FC;
  --secondary: #FBE016;
  --color: white;
  --background: black;
  --background-blue: #000F26;
  --shadow-color: #eee;
  --gutter-top: 12px;
  --gutters: 12px;
}

::selection {
  background-color: var(--primary);
  color: white;
}

[data-theme="light"] {
  --color: #111;
  --secondary: #E3CB14;
  --background: white;
  --background-blue: #fefefe;
  --shadow-color: #333;
}

body {
  margin: var(--gutter-top) var(--gutters) 64px;
  font: 18px/26px Inter, system-ui, -apple-system, sans-serif;
  color: var(--color);
  background: var(--background-blue);
}

a {
  color: var(--color);
  text-decoration: none;
}
a:hover, a:active {
  text-decoration: underline;
}

.socials a span {
  font-size: 26px;
}

.anchor-link {
  float: left;
  margin-left: -24px;
}

a:hover,
a:active,
a:focus {
  text-decoration: underline;
}

.header {
  display: flex;
  padding-top: 12px;
  margin: -12px calc(-1 * var(--gutters)) 48px;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.header::before,
.header::after {
  display: block;
  content: "";
  padding-right: var(--gutters);
}

.header__logo {
  display: block;
  flex: none;
  --font-weight: 700;
  font-size: 24px;
  line-height: 18px;
  letter-spacing: -1px;
  text-transform: lowercase;
  border-top: 4px solid;
  padding: 6px 4px 0 0;
}

/* Override a:pseudo specificity */
a.header__logo {
  color: currentColor;
  text-decoration: none;
}

.header__section {
  flex: none;
  margin: 0 0 0 24px;
  --font-weight: 700;
  font-size: 6px;
  line-height: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 0;
}

.header__section--last {
  margin-left: auto;
}

.header__link {
  flex: none;
  display: block;
  margin: 10px 24px 0 0;
  font-size: 14px;
  color: var(--color);
  --font-weight: 600;
  line-height: 18px;
}

.header__link:last-child {
  margin-right: 0;
}

a.btn {
  display: block;
  cursor: pointer;
  font-size: 16px;
  min-width: 125px;
  margin: 0 auto;
  color: var(--color);
  padding: 13px;
  text-decoration: none;
  border: 1px solid var(--color);
  border-radius: 6px;
  background-color: transparent;
  outline: none;
  height: 44px;
  max-height: 44px;
  min-height: 44px;
  line-height: 14px;
  transform: translate(0px, 0px);
  transition: all;
  transition-duration: 123ms;
}
a.btn.plain {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--color);
}
a.btn:hover {
  transform: translate(-2px, -2px);
  box-shadow: 2px 2px 1px var(--shadow-color);
}
a.btn:active {
  transform: translate(0, 0);
  box-shadow: inset 0 0 7px var(--shadow-color);
}

.ripple-container > span {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 400ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 768px) {
  :root {
    --gutters: 64px;
  }
}

@media (min-width: 1024px) {
  :root {
    --gutters: 128px;
  }
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */
.icon-linkedin:before { content: '\f30c'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-linkedin:before { content: '\f30c'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-light-up:before { content: '\E800'; }
.icon-moon:before { content: '\F186'; }