#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.anchor-link {
    display: none;
}

.row-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row-content .invested-container,
.row-content .in-date-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.row-content .invested-container p {
    margin-right: 8px;
}

input, select {
    background-color: transparent;
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding: 8px;
    margin: 0 10px;
    color: var(--color);
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    max-width: 120px;
}

select option {
    background-color: var(--background);
}

#pl-result {
    font-weight: bold;
    font-size: 30px;
    color: var(--green);
    margin: 0 10px;
}

.infos {
    font-size: 12px;
    color: var(--light);
}

a {
    color: var(--primary);
}

.error {
    visibility: hidden;
    color: var(--light);
    font-size: 14px;
}

@media (max-width: 768px) {
    .row-content {
        flex-direction: column;
    }
    .row-content .in-year {
        margin-top: 0;
        margin-bottom: 10px;
    }
    .in-date-container {
        margin-bottom: 10px;
    }
}