#banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.anchor-link {
  display: none;
}

#banner h1 {
  font-size: 4em;
  font-weight: 600;
  margin-bottom: 0;
}
#banner h2 {
  font-size: 2em;
}

#banner .btn {
  margin-top: 20px;
}